@import url('https://fonts.googleapis.com/css?family=Raleway');

body{
	padding: 0;
	margin: 0;
	background:#f4f4f4;
}
html,h1,h2,h3,h4,h5,h6,a{
	font-family: "Raleway";
}
.navbar{
	background:#005073;
}
.nav-link , .navbar-brand{
	color: #f4f4f4;
	cursor: pointer;
}
.nav-link{
	margin-right: 1em !important;
}
.nav-link:hover{
	background: #f4f4f4;
	color: #005073;

}
.navbar-collapse{
 justify-content: flex-end;
}
.navbar-toggler{
  background:#fff !important;
}

/*header style*/
.header{
	position: relative;
	background-image: url('../images/headerback.jpg');

	background-size: cover;
	background-position: center;
}
.overlay{
	position: absolute;
	min-height: 100%;
	min-width: 100%;
	left: 0;
	top: 0;
	background: rgba(244, 244, 244, 0.70);
}
.description{
    position: absolute;
    top: 30%;
    margin: auto;
    padding: 2em;

}
.description h1{
	color:#F97300 ;
}
.description p{
	color:#666;
	font-size: 20px;
	width: 50%;
	line-height: 1.5;
}
.description button{
	border:1px  solid #F97300;
	background:#F97300;
	color:#fff;
}
.about{
	margin: 4em 0;
	padding: 1em;
	position: relative;
}
.about h1{
	color:#F97300;
	margin: 2em;
}
.about img{
	height: 100%;
    width: 100%;
    border-radius: 50%
}
.about span{
	display: block;
	color: #888;
	position: absolute;
	left: 115px;
}
.about .desc{
	padding: 2em;
	border-left:4px solid #10828C;
}
.about .desc h3{
	color: #10828C;
}
.about .desc p{
	line-height:2;
	color:#888;
}

/*Studies*/
.studies{
	margin: 4em 0;
    position: relative;	
}
.studies h1{
	color:#F97300;
	margin: 2em;	
}
.studies .item{
	position: relative;
	overflow: hidden;	
}
.studies .des{
	background: #F97300;
	color: #fff;
	text-align: center;
	border-top-right-radius: 93%;
	transition:.3s ease-in-out;
	position: absolute;
	width: 88%;
	bottom: 24px;
}
.studies .item:hover .des{
	height: 100%;
	background:#f973007d;
    position: absolute;
	width: 89%;
	padding: 5em;
	top: 0;
	border-top-right-radius: 0;
}

/*Experience*/
.experience{
	margin: 4em 0;
    position: relative;	
}
.experience h1{
	color:#F97300;
	margin: 2em;	
}

/*Projects*/
.projects{
	margin: 4em 0;
    position: relative;	
}
.projects h1{
	color:#F97300;
	margin: 2em;	
}
.projects img{
	 height: 15rem;
	 width: 100%;
	 margin: 1em;

}

/*Interests*/
.interests{
	margin: 4em 0;
    position: relative;	
}
.interests h1{
	color:#F97300;
	margin: 2em;	
}
.interests img{
	 height: 15rem;
	 width: 100%;
	 margin: 1em;
}


/*Repositive*/
.repositive{
	margin: 4em 0;
    position: relative;	
}
.repositive h1{
	color:#F97300;
	margin: 2em;	
}
.repositive img{
	display: block;
    margin-left: auto;
    margin-right: auto;
	height: 20rem;
    max-width: 50%;
}